scopeName: "source.mcfunction-lang"
fileTypes: ["mcfunction"]
name: "Minecraft Function"
type: "tree-sitter"
parser: "tree-sitter-mcfunction-lang"

scopes:
  "root": "source.mcfunction-lang"
  "comment": "comment"
  "command": "definition.command"
  "command_name": "definition.command.keyword.name"
