// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.syntax--mcfunction {

	.syntax--selector.syntax--target {
		color: #33f;
	}

	.syntax--selector {

		.syntax--target {
			color: #33f;
		}

		.syntax--argument{

			.syntax--name {
				color: #0cf;
			}

			.syntax--value {
				color: #0b9;
			}
		}
	}

	.syntax--nbt {

		.syntax--name {
			color: #0cf;
		}

		.syntax--value {
			color: #0b9;
		}
	}

	.syntax--error {
		background-color: #ff0000;
		color: #ffffff;
	}

	.syntax--command {
		color: #8f00b3;
	}

	.syntax--comment {
		color: #999999;
	}

	.syntax--coord {
		color: #777777;
	}
}
