// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

.syntax--string {
	color: @syntax-color-snippet;
}

.syntax--comment {
	color: #7c7c7c;
	font-style: italic;
}

.syntax--nbtstring {
	color: #f2d202
}

.syntax--none {
	color: #ccc
}

.syntax--num {
	color: #e09302
}

@import "ui-variables";
@import (optional) "index.less";

.icon {
	&.command {
		color: @syntax-color-keyword;
		background: fadeout(@syntax-color-keyword, 80%);
	}
	&.recipe {
		background: fadeout(#0c9b43, 80%);
	}
	&.enchantment {
		background: fadeout(#75056d, 50%);
	}
}

.syntax--source.syntax--mcfunction13 {

	.syntax--selector {
		color: @syntax-color-function;
	}

	.syntax--argument {

		.syntax--name {
			color: @syntax-color-tag;
		}

		.syntax--equals {
			.syntax--none
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--state {

		.syntax--name {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--nbtstring;
		}
	}

	.syntax--nbt {

		.syntax--key {
			color: @syntax-color-tag;
		}

		.syntax--number {
			.syntax--num
		}

		.syntax--boolean {
			.syntax--number
		}

		.syntax--value {
			.syntax--string
		}

		.syntax--compound {
			.syntax--none
		}

		.syntax--array {
			.syntax--none
		}

	}

	.syntax--command {
		color: @syntax-color-keyword;
	}

	.syntax--coord {
		.syntax--selector;
		font-style: normal;
	}

	.syntax--coordc {
		.syntax--selector;
		font-style: normal;
	}
}
