// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.mcfunction {

}

.syntax--mcfunction .syntax--selector {
	color: #0000ff;
}

.syntax--mcfunction .syntax--command {
	color: #8f00b3;
}

.syntax--mcfunction .syntax--comment {
	color: #999;
}

.syntax--coord {
	color: #777;
}
