// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.syntax--source.syntax--mcfunction {

	.syntax--selector {

		.syntax--target {
			color: @hue-1;
		}

		.syntax--argument {

			.syntax--name {
				color: @hue-5;
			}

			.syntax--value {
				color: @hue-4;
			}
		}
	}

	.syntax--nbt {

		.syntax--key {
			color: @hue-5;
		}

		.syntax--value {
			color: @hue-4;
		}
	}

	.syntax--command {
		color: @hue-3;
	}

	.syntax--coord {
		color: @mono-3;
	}
}
